.container {
  perspective: 1000px;
  margin-bottom: 30px;
}
.screen {
  color: black;
  text-align: center;
  font-size: 13px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 30px;
  width: 100%;
  margin: 15px 0;
  border-radius: 40px;
  transform: rotateX(-5deg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}
.row {
  display: flex; /* Makes the element and its children behave as a flex container */
  flex-wrap: wrap; /* Allows content to wrap onto multiple lines if necessary */
}
.row:nth-of-type(4) {
  margin-bottom: 16px;
}

.row:nth-last-of-type(2) {
  margin-top: 16px;
}
